{
	"html": {
		"title": "MTR.Tools Looking Glass",
		"header": "<h1>MTR.Tools <small>Looking Glass</small></h1>",
		"footer": "<p class=\"float_left\">intrace is a product of <a target=\"_blank\" href=\"http://fuslvz.ws/\">FuslVZ</a> and <a target=\"_blank\" href=\"https://ip6.im/\">ip6.im</a> | &copy; 2022 <a href=\"http://mtr.tools/\">MTR.Tools.</a></p><div class=\"clear_both\"></div>",
		"columned_probes": false
	}
}
